.bodyFlex{
  display: flex;
  max-height: 82vh;
  min-height: 82vh;
  width: 100%;
}

.contentContainer {
  max-height: 82vh;
  overflow-y: scroll;
  overflow-x: scroll;
  min-width: 50vw;
  max-width: 50vw;
  padding: 0.1rem 1rem;
}

.contentContainer > p, li {
  margin: 0.55rem;
  font-size: 1.5rem;
}

