
.flagButton{
  height: 4rem;
  width: 7rem;
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  border: solid gray 0.5px;
  color: rgb(170, 170, 170);
  padding: 1px;
}

.flagButton:hover {
  color: #f8c291;
  border: solid 1px #f8c291;
  background-color: #b71540;
  cursor: pointer;
}

.flagButton:active {
  color: #FDFDFD;
  border: solid 1px #FDFDFD;
  background-color: #f8c291;
  cursor: pointer;
}

.flexStartContainer {
  display: inline-flex;
  width: 78vw;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
  margin: 0 0 0 2rem;
}



.flexEndContainer {
  display: inline-flex;
  min-width: 14vw;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
}

.footContainer {
  position:fixed;
  width: 100%;
  height: 7.9vh;
  background-color: 
  rgb(247, 247, 247);
  bottom: 0;
}