.navbarButton{
    height: 1.3rem;
    width:1.3rem;
    font-size: 0.5rem;
    font-weight: bold;
    margin: 0;
    border-left: solid gray 0.5px;
    border-top: solid gray 0.5px;
    border-bottom: solid gray 0.5px;
    border-right: none;
    color: rgb(170, 170, 170);
    padding: 1px;
}

.navbarButton:hover {
    color: #6a89cc;
    border: solid 1px #6a89cc;
    background-color: #0c2461;
    cursor: pointer;
}

.navbarButton:active {
    color: #FDFDFD;
    border: solid 1px #FDFDFD;
    background-color: #6a89cc;
    cursor: pointer;
}

.flagButton{
    height: 2rem;
    width: 3rem;
    font-size: 0.5rem;
    font-weight: bold;
    margin: 0;
    border: solid gray 0.5px;
    color: rgb(170, 170, 170);
    padding: 1px;
}

.flagButton:hover {
    color: #f8c291;
    border: solid 1px #f8c291;
    background-color: #b71540;
    cursor: pointer;
}

.flagButton:active {
    color: #FDFDFD;
    border: solid 1px #FDFDFD;
    background-color: #f8c291;
    cursor: pointer;
}

.answered{
    border-left: solid rgb(110, 110, 110) 0.5px;
    border-top: solid rgb(110, 110, 110) 0.5px;
    border-bottom: solid rgb(110, 110, 110) 0.5px;
    border-right: none;
    background-color: rgb(170, 170, 170);
    color: rgb(110, 110, 110);
}

.selected {
    height: 1.4rem;
    width: 1.4rem;
    color: #6a89cc;
    background-color: #0c2461;
    cursor: pointer;
}

.flagged {
    color: #f8c291;
    border-left: solid gray 0.5px;
    border-top: solid gray 0.5px;
    border-bottom: solid gray 0.5px;
    border-right: none;
    background-color: red;
    cursor: pointer;
}

.flexContainer {
    display: inline-flex;
    padding: 0.7rem 1rem;
    flex-direction: row;
    margin: 0 auto;
    width: 90%;
    flex-wrap: wrap;
}

.lastButton {
    border-right: solid gray 0.5px;
}

.grayButton {
    color: rgb(66, 66, 66);
    background-color: rgb(190, 190, 190);
}

