table {
    table-layout: auto;
    margin: 2rem;
    font-size: 1.5rem;
    border: 1px gray solid;
    padding: 1rem;
}

th, td {
    padding: 0.5rem 1rem;
    text-align: left;
}

caption {
    padding: 0.5rem;
    border-left: 1px gray solid;
    border-top: 1px gray solid;
    border-right: 1px gray solid;
}


.passageContainer > p {
    font-size: 1.3rem;
    margin:0.8rem
}

.passageContainer > ol {
    padding: 0 3rem;
}

.passageContainer > ol > li {
    font-size: 1.3rem
}

.sectionTitle {
    font-size: 1.6rem;
    font-style: italic;
    letter-spacing: 1px;
    margin: 2rem 0 0.5rem 0.8rem;
}

.figureLabel{
    font-size: 1.6rem;
    margin: 1.55rem 0rem 0 1.75rem;
}

.figure {
    max-width: 30vw;
    margin: 0 1rem;
}

.passageTitle {
    font-family: 'Open Sans', sans-serif;
    margin: 1rem 0.55rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3rem;
}