@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.bodyFlex{
  display: flex;
  max-height: 82vh;
  min-height: 82vh;
  width: 100%;
}

.contentContainer {
  max-height: 82vh;
  overflow-y: scroll;
  overflow-x: scroll;
  min-width: 50vw;
  max-width: 50vw;
}

.passageTitle {
  font-family: 'Open Sans', sans-serif;
  margin: 0.5rem 0.55rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.6rem;
}

.contentContainer > p, li {
  margin: 0.55rem;
  font-size: 0.5rem;
}